.claude/
.env.local
.cache
.lsp-session-v1
.org-id-locations
org-roam.db
bookmarks
eln-cache
elpa
elpaca
etc
history
persp-confs/
projectile-bookmarks.eld
projectile.cache
var
transient
tree-sitter
tramp
custom.el
*.rej
*~
